$color-primary: #BEA67C;
$color-light: #FFF;
$color-dark: #000;




$font-header: 'Oswald', sans-serif;
$font-text: 'Lato', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;