.header {
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ), url("../images/background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  text-transform: uppercase;
  justify-content: center;

  @media (max-width: 500px) {
    padding: 10px;
  }
  

  .header-wrapper {
    display: flex;
    justify-content: space-around;

    .logo-container {
      color: $color-light;

      .logo-text-title {
        margin-bottom: 5px;
        letter-spacing: 10px;
      }

      .logo-text-subtitle {
        margin: 0;
        letter-spacing: 3px;
      }
    }

    .main-nav {
      display: flex;
      align-items: center;
      word-spacing: 12px;

      a {
        color: $color-light;
        opacity: 0.7;
      }
    }
  }

  .main-title-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    letter-spacing: 18px;
    flex: 1;
    
    .first-line {
      margin: 0;
      margin-left: 30%;
      width: 100%;
      
      @media (max-width: 950px) {
        margin-left: 20%;
        letter-spacing: 10px;
      }
    }

    .second-line {
      margin: 0;
      width: 100%;
      margin-left: 50%;

      @media (max-width: 950px) {
        margin-left: 30%;
        letter-spacing: 10px;
      }

      @media (max-width: 620px) {
        width: 50%;
        margin-left: -22%;
      }
    }

    .main-decoration-line {
      height: 3px;
      width: 15%;
      justify-content: center;
      margin-top: 20px;
      background: linear-gradient(
        to bottom,
        $color-primary 2px,
        $color-primary 3px,
      );
    }
  }

  .discover {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-light;
    padding: 20px;
    font-size: 20px;
    letter-spacing: 5px;

    @media (max-width: 845px) {
      padding-top: 0;
    }
  }

  .discover-text {
    @media(max-width: 660px) {
      margin-bottom: 5px;
    }
  }
}

.about {
  background: linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ), url("../images/about-us.jpg");
  background-size: cover;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .about-text {
    color: $color-light;
    font-style: italic;
    text-align: left;
    line-height: 20px;
    width: 50%;
    height: 50%;
    margin: 30px;

    .about-text-action {
      text-align: right;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #ffffff;
}