.products {
  height: 100vh;
  background-color: #ffffff;

  .products-container {
    display: flex;
    justify-content: center;
    margin: 40px 0 20px 0;

    .cart-product {
      width: 50%;
      height: 100%;
      display: flex;

      .product-description-wrapper {
        height: 200px;
        width: 50%;
        margin: 20px;
      }

      .product-description-wrapper .cart-product-header {
        text-transform: uppercase;
        padding-top: 20px;
      }

      .product-description-wrapper .product-description {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 20px 0;
      }

      .product-description-wrapper .product-description .product-description-line {
        height: 3px;
        width: 70px;
        justify-content: center;
        background: linear-gradient(
          to bottom,
          $color-primary 2px,
          $color-primary 3px,
        );
      } 

      .product-description-wrapper .product-description .product-description-text {
        margin-left: 10px;
        text-align: left;
      }

      .product-description-wrapper .product-rating {
        text-transform: uppercase;
        margin-top: 30px;
      }

      .product-description-wrapper .product-rating .roasting-value {
        color: $color-primary;
      }

      .product-description-wrapper .product-rating .intensity-value {
        color: $color-primary;
      }

      .product-image {
        width: 50%;
        margin: 20px;
        background: url(../../images/coffee-1.png);
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
      }

      .product-image img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
  }
}