/* customize headers and text style here */

/* @import font */
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

.main-title, .section-title {
  color: $color-primary;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

li {
  display: inline;
  list-style: none;
}

a {
  text-decoration: none;
}