/* customize headers and text style here */

/* @import font */

// e.g.
h1 {
    color: $color-primary;
    // font-family: $font-header;
    // font-size: 26px;
    // font-weight: $font-semibold;
    text-transform: uppercase;
  }

li {
    display: inline;
    list-style: none;
}

a {
    text-decoration: none;
}
  
// .h2 {
//   color: $color-primary;
//   font-size: 14px;
//   font-weight: $font-bold;
//   text-transform: uppercase;
// }
  
// .h3 {
//     color: $color-dark;
//   font-size: 12px;
//   font-weight: $font-bold;
//   text-transform: uppercase;
// }