/* customize headers and text style here */

/* @import font */
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

// e.g.
h1 {
  color: $color-primary;
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
}

li {
  display: inline;
  list-style: none;
}

a {
  text-decoration: none;
}
  
// .h2 {
//   color: $color-primary;
//   font-size: 14px;
//   font-weight: $font-bold;
//   text-transform: uppercase;
// }
  
// .h3 {
//     color: $color-dark;
//   font-size: 12px;
//   font-weight: $font-bold;
//   text-transform: uppercase;
// }