/* Variables */

$color-primary: #BEA67C;
$color-light: #FFF;
$color-dark: #000;

$font-page: 'Source Sans Pro', sans-serif;

// $font-light: 300;
// $font-normal: 400;
// $font-semibold: 500;
// $font-black: 900;